header {
  background: center url(https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png);
  width: 1300px;
  height: 400px;

  background-size: 1300px 400px;
}

.container {
  display: flex;
/*   flex-direction: row rewerse; */
  justify-content: center;
  align-items: flex-end;
  
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}
h1 {
  
 
  font-family: 'Abril Fatface', cursive ;
  font-size: 36px;
  color: #222;
 
  bottom: 10px;
  line-height: 55px;
  position: relative;
  vertical-align: bottom;
  size: 800px 300px;
  
  
}
div {
  color: #222;
  margin-left: auto;
  Margin-right: auto;
  width: 800px;
}


span {
  font-size: 2em;
  
}

h2 {
  font-family: 'Abril Fatface', cursive ;
  color: white;
  background-color: #222;
  padding: 0 30px 40px ;
  font-size: 45px;
  
  
}
 h2::before {
  content: '“';
   position: relative;
   top: -20px;
   left: -30px;
   font-size: 96px;
  
}
p {
  font-family: 'Josefin Sans', sans-serif- thin;
  font-size: 20px;
}
strong {
  font-family: 'Josefin Sans', sans-serif-black;
  
  
}

ul {
  font-family: 'Josefin Sans', sans-serif;
line-height: 25px;
}

h3 {
font-family: 'Josefin Sans', sans-serif;

  font-size: 24px;
  text-transform: uppercase;
  color: #222; 
  margin-top: 60px;
  margin-bottom: 60px;
}

h4 {
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 1;
  margin-bottom: 5px;
  font-size: 24px; 
}

blockquote {
  font-family: 'Josefin Sans', sans-serif;
  margin-inline: 0;
}

h5 {
  font-family: 'Merriweather', serif;
  margin: 0;
}

footer {
   color: #222;
  margin-left: auto;
  Margin-right: auto;
  width: 800px;
  border-top: 5px solid #222;
  margin-top: 50px;